* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
}

section {
    width: 100%;
    height: 100vh;
}

section nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    right: 0;
    left: 0;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

section nav .logo img {
    width: 100px;
    cursor: pointer;
    margin: 7px 0;
}

section nav ul {
    list-style: none;
}

section nav ul li {
    display: inline-block;
    margin: 0 15px;
}

section nav ul li a{
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    font-size: 17px;
    transition: 0.1s;
}

section nav ul li a::after {
    content: '';
    width: 100%;
    height: 2px;
    background: #6A0DAD;
    display: block;
    transition: 0.2s linear;
}

section nav ul li a:hover::after {
    width: 100%;
}

section nav ul li a:hover {
    color: #6A0DAD;
}

section nav .icon i {
    font-size: 18px;
    color: #000000;
    margin: 0 5px;
    cursor: pointer;
    transition: 0.3s;
}

section nav .icon i:hover {
    color: #6A0DAD;
}

section .home {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 130px;
}

section .home .home_header h1 {
    font-size: 60px;
    position: relative;
    top: -170px;
    left: 20px;
}

section .home .home_header h1 span {
    margin-left: 15px;
    color: #6A0DAD;
    font-family: mv boli;
    line-height: 22px;
    font-size: 70px;
}

section .home .home_image img {
    width: 100%;
    height: 100%;
    position: relative;
    left: 70px;
}

section p {
    width: 650px;
    text-align: justify;
    position: relative;
    left: 120px;
    bottom: 200px;
    line-height: 22px;
}

section .home_button {
    background: #6A0DAD;
    position: relative;
    left: 120px;
    bottom: 100px;
    width: 150px;
    cursor: pointer;
    padding: 12px 25px;
}

section .home_button a {
    color: #FFFFFF;
    margin-right: 5px;
    text-decoration: none;
}

section .about {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 130px;
}

section .about h1 {
    font-size: 70px;
    margin-bottom: 36px;
}

section .about p {
    text-align: justify;
}



/*---------- Login Page ----------*/
.login {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 20px 0 0 0;
    flex-direction: column;
    background: linear-gradient(135deg, #71B7E6, #9B59B6);
}

.login .error-message {
    max-width: 500px;
    width: 100%;
    color: #AF4242;
    background-color: #FDE8EC;
    padding: 10px;
    transform: translateY(1px);
    font-size: 16px;
    margin-bottom: -10px;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.login .container {
    max-width: 500px;
    width: 100%;
    background: #FFFFFF;
    padding: 25px 30px 0px;
    border-radius: 5px;
}

.login .container .title {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    position: relative;
}

.login .container .title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    height: 3px;
    width: 100%;
    background: linear-gradient(135deg, #8600A8, #150C81);
}

.login form .login-field {
    margin: 30px 0 12px 0;
}

.login .login-field .details {
    display: block;
    font-weight: 700;
    margin-bottom: 5px;
}

.login .login-field input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #CCCCCC;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.login .login-field input:focus, .login-field input:valid {
    border-color: #6A0DAD;
}

.login .remember {
    margin: 20px 0;
    font-size: 16px;
}

.login .remember label {
    display: flex;
    align-items: center;
}

.login .remember input{
    accent-color: #6A0DAD;
}

.login .remember label input {
    margin-right: 7px;
}

.login form .login-button {
    height: 45px;
}

.login form .login-button input {
    height: 100%;
    width: 100%;
    outline-color: none;
    color: #FFFFFF;
    border: none;
    font-size: 18px;
    font-weight: 500px;
    border-radius: 5px;
    letter-spacing: 1px;
    background: #6A0DAD;
    cursor: pointer;
}

.login form .login-button input:hover {
    background: linear-gradient(-135deg, #8600A8, #150C81);
}

.login .flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login .register {
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
    cursor: pointer;
}

.login .register a {
    color: #2691D9;
    text-decoration: none;
}

.login .register a:hover {
    text-decoration: underline;
}

.login .divider {
    margin: 0 10px;
    color: #666666;
}

.login .forgot-link {
    margin: 30px 0;
    text-align: center;
    color: #2691D9;
    cursor: pointer;
}

.login .forgot-link a {
    color: #2691D9;
    text-decoration: none;
}

.login .forgot-link:hover {
    text-decoration: underline;
}
/*---------- End of Login Page ----------*/



/*---------- Registration Page ----------*/
.registration {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 20px 0 0 0;
    background: linear-gradient(135deg, #71B7E6, #9B59B6);
}

.registration .error-message {
    max-width: 500px;
    width: 100%;
    color: #AF4242;
    background-color: #FDE8EC;
    padding: 10px;
    transform: translateY(1px);
    font-size: 16px;
    margin-bottom: -10px;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.registration .success-message {
    max-width: 500px;
    width: 100%;
    color: #145214;
    background-color: #DFF0D8;
    padding: 10px;
    transform: translateY(1px);
    font-size: 16px;
    margin-bottom: -10px;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.registration .container {
    max-width: 700px;
    width: 100%;
    background: #FFFFFF;
    padding: 25px 30px;
    border-radius: 5px;
}

.registration .container .title {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    position: relative;
}

.registration .container .title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    height: 3px;
    width: 100%;
    background: linear-gradient(135deg, #8600A8, #150C81);
}

.registration .container form .registration-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px 0 12px 0;
}

.registration form .registration-details .registration-field {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

.registration .registration-details .registration-field .details {
    display: block;
    font-weight: 700;
    margin-bottom: 5px;
}

.registration .registration-details .registration-field input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #CCCCCC;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.registration .registration-details .registration-field input:focus, .registration-details .registration-field input:valid {
    border-color: #6A0DAD;
}

.registration form .gender-details .gender-title {
    font-size: 20px;
    font-weight: 700;
}

.registration form .gender-details .category {
    display: inline-flex;
    width: 100%;
    margin: 10px 0 0 0;
    justify-content: space-between;
}

.registration .gender-details .category label {
    display: flex;
    align-items: center;
}

.registration .gender-details .category .dot {
    height: 18px;
    width: 18px;
    background: #D9D9D9;
    border-radius: 50%;
    margin-right: 10px;
    border: 5px solid transparent;
    transition: all 0.3s ease;
}

.registration #dot-1:checked ~ .category label .one, #dot-2:checked~.category label .two {
    border-color: #D9D9D9;
    background: #6A0DAD;
}

.registration form input[type="radio"] {
    display: none;
}

.registration form .registration-button {
    height: 45px;
}

.registration form .registration-button input {
    height: 100%;
    width: 100%;
    outline-color: none;
    color: #FFFFFF;
    border: none;
    font-size: 18px;
    font-weight: 500px;
    border-radius: 5px;
    letter-spacing: 1px;
    background: #6A0DAD;
    cursor: pointer;
}

.registration form .registration-button input:hover {
    background: linear-gradient(-135deg, #8600A8, #150C81);
}
/*---------- End of Registration Page ----------*/


/*---------- Forgot Password Page ----------*/
.forgot-password {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 30px 0 0 0;
    background: linear-gradient(135deg, #71B7E6, #9B59B6);
}

.forgot-password .container {
    max-width: 500px;
    width: 100%;
    background: #FFFFFF;
    padding: 25px 30px;
    border-radius: 5px;
}

.forgot-password .container .title {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    position: relative;
}

.forgot-password .container .title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    height: 3px;
    width: 100%;
    background: linear-gradient(135deg, #8600A8, #150C81);
}

.forgot-password .text {
    text-align: justify;
    margin: 30px 0 22px 0;
    font-size: 16px;
    font-weight: 500;
}

.forgot-password .forgot-field .details {
    display: block;
    font-weight: 700;
    margin-bottom: 5px;
}

.forgot-password .forgot-field input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #CCCCCC;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.forgot-password form .forgot-button {
    height: 45px;
    margin-top: 10px;
}

.forgot-password form .forgot-button input {
    height: 100%;
    width: 100%;
    outline-color: none;
    color: #FFFFFF;
    border: none;
    font-size: 18px;
    font-weight: 500px;
    border-radius: 5px;
    letter-spacing: 1px;
    background: #6A0DAD;
    cursor: pointer;
}

.forgot-password form .forgot-button input:hover {
    background: linear-gradient(-135deg, #8600A8, #150C81);
}
/*---------- End of Forgot Password Page ---------- */


/* Responsive Page*/
@media (max-width: 584px) {

    .registration .container {
        max-width: 100%;
    }

    .registration form .registration-details .registration-field {
        margin: 20px 0 12px 0;
        width: 100%;
    }

    .registration form .gender-details .category {
        width: 100%;
    }

    .registration .container form .registration-details {
        max-height: 300px;
        overflow-y: scroll;
    }

    .registration .registration-details::-webkit-scrollbar {
        width: 0;
    }
}